{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}
<meta name="viewport" content="initial-scale=1, width=device-width">
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<table>
    <thead>
            <th scope="col" width = device-width>Symbol</th>
            <th scope="col" width = device-width>Name</th>
            <th scope="col" width = device-width>Shares</th>
            <th scope="col" width = device-width>Price</th>
            <th scope="col" width = device-width>Total</th>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row["stock_name"] }} </td>
            <td>{{ row["symbol"] }} </td>
            <td>{{ row["no_of_share"] }} </td>
            <td>{{ row["price"] }} </td>
            <td>{{ row["date"] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}