{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action = "/sell" method = "POST">
<select name = "stock" id = "stock" >
    <option disabled selected> sport </option>
    {% for name in all_stocks %}
    <option value = "{{ name['stock'] }}">{{ name["stock"] }}</option>
    {% endfor %}
</select>
<br><br>
<input autocomplete = "off" autofocus class="form-control mx-auto w-auto" id="no_of_shares" name = "no_of_shares" type = "integer" palceholder = "number">
<br><br>
<button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock%}